---
import Layout from '#layouts/Layout';
---

<Layout title="Junior Djemba - Web Developer">
	<main>
		<section class="screen">
			<h1>Astro</h1>
		</section>
		<section class="screen blue">
			<h2>Astro</h2>
		</section>
		<section class="screen red">
			<h2>Astro</h2>
		</section>
		<section class="screen purple">
			<h2>Astro</h2>
		</section>
	</main>
</Layout>
