---
import '#styles/global';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="lenis lenis-smooth" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="Astro description" name="description" />
		<meta content="width=device-width" name="viewport" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<meta content={Astro.generator} name="generator" />
		<title>{title}</title>

		<script is:inline src="https://unpkg.com/lenis@1.1.16/dist/lenis.min.js"
		></script>
		<script is:inline>
			const lenis = new Lenis({
				lerp: 0.01,
			});
			function raf(time) {
				lenis.raf(time);
				requestAnimationFrame(raf);
			}
			requestAnimationFrame(raf);
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
